html{
    font-size: 62,5%; //10px = 62,5% para rem
}
body{
    font-family: 'Roboto', sans-serif;
}
main{
    background-image:url("/assets/img/fondo.jpg");
    background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
    height: 60rem;
}
