.div-cont-h1{
    margin: 0 auto;
    width: 80%;
    
    article{
        margin-top: 4rem;
        margin-bottom: 2rem;
        //-color: rgba(#f3bf4ecb, 0.8);
        border-radius: 1rem;
        display: flex;
        h1{
            display: none;
        }
    
        
        .div-img{
            width: 45%;
            height: 100%;
            margin-top: 2rem;
            //background-image: url("/assets/img/botonpers.png");
            height: 20rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
        }
    
        .lista-ul-1{
            margin-bottom: 2rem;
            margin-top: 3rem;
            width: 100%;
        
            .li-1{
                margin-left: 1.5rem;
                margin-bottom: 1.5rem;
                margin-top: 1.5rem;
                display: inline-table;
                
                text-align: center;
                
                
                    .btn-nav{
                        @extend %btn;
                       
                        &:hover{
                            background-color:rgb(218, 209, 209);
                            color: #000;
                        }
                    }
    }
    
}
.contenido-ul{
    
            margin-bottom: 2rem;
            
            width: 100%;
            
.li-2{
                background-color: rgb(218, 209, 209);
                margin-left: 1.5rem;
                margin-bottom: 1.5rem;
                margin-top: 1.5rem;
                display: inline-table;
                
                text-align: center;
    p{
        
       font-size: 1rem;
    }
}
}
}
}
