@mixin movil {
    @media (max-width: $movil-brk){
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-brk){
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop-brk){
        @content;
    }
}
