main{

.header-img{
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 90%;
    height: 100%;
    background-image: url("/assets/img/img-cabecera.png");
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.nav-menu{ 
    text-align: left;
    margin-top: 2rem;
    //background-color: yellow;

    .btn-nav{
        margin-left: 2rem;
        @extend %btn;
        
      
        &:hover{
            background-color:rgb(218, 209, 209)
        }
        
    }
    
}
}