* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62,5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  background-image: url("/assets/img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 60rem;
}

main .nav-menu .btn-nav, .div-cont-h1 article .lista-ul-1 .li-1 .btn-nav {
  padding: 1rem;
  color: white;
  border-radius: 1rem;
}

main .header-img {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 90%;
  height: 100%;
  background-image: url("/assets/img/img-cabecera.png");
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

main .nav-menu {
  text-align: left;
  margin-top: 2rem;
}

main .nav-menu .btn-nav {
  margin-left: 2rem;
}

main .nav-menu .btn-nav:hover {
  background-color: #dad1d1;
}

.div-cont-h1 {
  margin: 0 auto;
  width: 80%;
}

.div-cont-h1 article {
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-cont-h1 article h1 {
  display: none;
}

.div-cont-h1 article .div-img {
  width: 45%;
  height: 100%;
  margin-top: 2rem;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.div-cont-h1 article .lista-ul-1 {
  margin-bottom: 2rem;
  margin-top: 3rem;
  width: 100%;
}

.div-cont-h1 article .lista-ul-1 .li-1 {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: inline-table;
  text-align: center;
}

.div-cont-h1 article .lista-ul-1 .li-1 .btn-nav:hover {
  background-color: #dad1d1;
  color: #000;
}

.div-cont-h1 article .contenido-ul {
  margin-bottom: 2rem;
  width: 100%;
}

.div-cont-h1 article .contenido-ul .li-2 {
  background-color: #dad1d1;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: inline-table;
  text-align: center;
}

.div-cont-h1 article .contenido-ul .li-2 p {
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */